* {
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: #fafafa;
  margin: 0;
  position: relative;
}

.headfoot {
  background-color: #300058;
  color: white;
  clear: both;
}

header {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

footer {
  clear: both;
  position: relative;
  height: 40px;
  width: 100%;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  margin-top: 30px;
}

#copyright {
  position: relative;
  margin-left: 12px;
  top: 12px;
  font: inherit;
}

.column {
  float: left;
  width: 50%;
}


#textNameField {
  float: left;
  width: 70%;
  position: relative;
  overflow: hidden;
  margin-left: 22px;
}

#textName {
  float: left;
  font-size: 22px;
  margin-bottom: 0;
  position: relative;
  top: -8px;
  white-space: nowrap;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#startButtonDiv {
  float: right;
  margin-right: 0.75%;
}

#startButton {
  width: 150px;
  height: 50px;
  font-size: 19px;
}

#status {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  bottom: 10px;
  width: 49vw;
  /*margin-left: 1.25%;*/
}



textarea {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  width: 98%;
  border: 1px solid gray;
  border-radius: 2px; 
  resize: vertical;
  outline: none;
  height: 40vh;
}

#editor {
  margin-left: 0.75%;
}

#target {
  float: right;
  margin-right: 0.75%;
}

textarea:read-write:focus {
  box-shadow: 0 0 0 2px black;
}

.hide-select::selection {}




.pretty-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color : black;
  border: 2px solid black;
  color: white;
  transition-duration: 0.2s;
  border-radius: 2px; 
  outline: none;
}

.pretty-button:hover {
  background-color: #3F3F3F;
  border-color: #3f3f3f;
}

.pretty-button:disabled {
  background-color : #a0a0a0;
  color: white;
  border: 2px solid #a0a0a0;
}

.pretty-button:hover:disabled {
  background-color : #a0a0a0;
  border-color: #a0a0a0;
}



.header-button {
  float: left;
  margin-top: 17px;
  height: 65px;
  
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  
  font-size: 19px;
  padding: 0 15px;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-button:active:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

#backButton {
  font-size: 40px;
  margin-left: 17px;
}

#tooltipButton {
  margin-left: 30px;
}

#lastButton {
  float: right;
  margin-right: 17px;
}



.green-btn {
  background-color : #2db92d;
  border-color: #2db92d;
}

.green-btn:hover {
  background-color: #218D21;
  border-color: #218D21;
}

.darkred-btn {
  background-color : #c40000;
  border-color: #c40000;
}

.darkred-btn:hover {
  background-color: #9C0000;
  border-color: #9C0000;
}




@keyframes tooltipdelay {
  0%   { opacity: 0; }
  35%  { opacity: 0; }
  100% { opacity: 1;}
}

.tooltip .tooltiptext-l, .tooltip .tooltiptext-r {
  visibility: hidden;
  background-color: #444444ee;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  font-size: 16px;
  display: none;
}
 
.tooltiptext-l {
  margin-left: -10px;
  margin-top: 15px;
}

.tooltiptext-r {
  margin-left: 20px;
  margin-top: 15px;
}

.tooltip:hover .tooltiptext-l.enabled-tooltip, .tooltip:hover .tooltiptext-r.enabled-tooltip {
  visibility: visible;
  animation: tooltipdelay 0.6s 1;
  opacity: 1;
  display: block;
}

/* DISABLE SCROLLBAR */
/*
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
*/
